<ion-content no-padding style="--background: transparent;">

  <img src="../../assets/loginbg.png" alt="" class="bgImage">
  <div class="main">
    <div class="content">

      <div class="fire-logo">
        <img src="../../assets/logo.png" class="img-logo" style="z-index:1" />
      </div>
      <p no-margin margin-vertical text-center class="app-title">
        Gravity Classes
      </p>
      <p class="app-sub-title">
        (For Physics and Mathematics)
      </p>
      <p style="    font-size: large;">By</p>
      <p style="    font-size: large;">Er. Prashant Kumar</p>
      <ion-button color="light" (click)="loginWithGoogle()" size="large" shape="round" expand="block"
        style="width: 94vw;    margin-top: 15px;">
        <img src="../../assets/google.png" alt="" slot="start" style="width: 30px; margin-right: 10px;" />
        Login with Google
      </ion-button>
    </div>
  </div>
</ion-content>