<ion-content no-padding style="--background: transparent;">

  <img src="../../assets/loginbg.png" alt="" style="    position: absolute;
    z-index: 0;
    filter: brightness(0.5);height: 100vh;">
  <div class="main">
    <div class="content">

      <div class="fire-logo">
        <img src="../../assets/logo.png" class="img-logo" style="z-index:1" />
      </div>
      <p no-margin margin-vertical text-center class="app-title">
        Gravity Classes
      </p>
      <p class="app-sub-title">
        Physics by Er. Prashant Kumar
      </p>
      <ion-button color="light" (click)="loginWithGoogle()" size="large" shape="round" expand="block"
        style="width: 94vw;">
        <img src="../../assets/google.png" alt="" slot="start" style="width: 30px; margin-right: 10px;" />
        Login with Google
      </ion-button>
    </div>
  </div>
</ion-content>