ion-label {
  font-size: larger !important;
  font-family: "Raleway-Regular" !important;
  font-weight: bold;
}

.logoImage {
  width: 100px;
  height: 100px;
  background: #3b5998;
  color: white;
  font-size: xxx-large;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
