/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
$animationDelay: 2000ms;

@font-face {
  font-family: "Cookie";
  src: url("assets/fonts/Cookie-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("assets/fonts/Raleway-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/fonts/Montserrat-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("assets/fonts/Poppins-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

.toastStyle {
  animation-name: slide-top;
  animation-duration: 500ms;
  animation-delay: $animationDelay;
}

.errorToastStyle {
  --background: var(--ion-color-danger);
  // -webkit-animation-name: slide-top;
  // animation-name: slide-top;
  // -webkit-animation-duration: 500ms;
  // animation-duration: 500ms;
  // -webkit-animation-delay: 2000ms;
  // animation-delay: 2000ms;
  font-size: large;
  font-family: Montserrat;
  --height: 60px;
  font-weight: bold;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
}

.card-heading {
  font-family: Montserrat-Regular;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-family: Raleway-Regular;
}

.date {
  margin: 0px;
  font-size: small;
  color: var(--ion-color-dark);
  position: absolute;
  right: 0px;
}

ion-content {
  --background: ghoshtwhite;
}

ion-list {
  background: transparent;
}

ion-item {
  --background: transparent;
}

ion-title {
  font-family: Montserrat-Regular;
  font-weight: bold;
}

@media only screen and (orientation: landscape) {
  #myVideo {
    width: 100vw;
    height: 80vh;
  }
}

.bgImage {
  position: absolute;
  z-index: 0;
  filter: brightness(0.5);
  height: 100vh;
}

@media only screen and (orientation: landscape) {
  .bgImage {
    position: absolute;
    z-index: 0;
    filter: brightness(0.5);
    width: 100vw;
  }
}

@media only screen and (min-width: 640px) {
  .bgImage {
    position: absolute;
    z-index: 0;
    filter: brightness(0.5);
    width: 100vw;
  }
  #myVideo {
    width: 100vw;
    height: 80vh;
  }
}
